<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010817423485-hmla8un26p1ehvn8lnp71bu8i2kj8ncu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010817423485-hmla8un26p1ehvn8lnp71bu8i2kj8ncu</string>
	<key>API_KEY</key>
	<string>AIzaSyB2FB8emWEK0rvjAVGqbsHT1CImlWnSLSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1010817423485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lu.clesyde</string>
	<key>PROJECT_ID</key>
	<string>clesyde-7dfb6</string>
	<key>STORAGE_BUCKET</key>
	<string>clesyde-7dfb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010817423485:ios:eb749a115fb83a2cf2b914</string>
</dict>
</plist>
